.nftBox {
  background-color: #4E4E4E;
  height: 100%;
  min-width: 500px;
  min-height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #A8D5BA; 
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

.nftImage {
  width: 100%;
  max-width: 460px;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.confirmationBox {
  font-size: 18px;
  color: #A8D5BA;
  padding: 20px;
  border-radius: 10px;
  background-color: #3A3A3A;
  box-shadow: 0px 0px 5px #A8D5BA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loadingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #A8D5BA;
  font-size: 18px;
  padding: 20px;
  background-color: #3A3A3A;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #A8D5BA;
}

.placeholderText {
  font-size: 20px;
  color: #A8D5BA;
}

@media (max-width: 768px) {
  .nftBox {
    min-width: 100%;
    height: auto;
  }

  .placeholderText, .confirmationBox, .loadingBox {
    font-size: 16px;
  }
}
