.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #4E4E4E;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #A8D5BA;
  height: 100%;
  min-height: 300px;
  max-height: 600px;
  box-sizing: border-box;
}

.controlPanel > * {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .controlPanel {
    height: 45%;
    min-width: 100%;
  }

  .generateButton {
    max-width: 150px;
  }
}
